extends layout

block content
  h1= title
  p Добро о пожалывать на #{title},это простой Express вебсайт

  h1 Динамический контент

  if error
    p Ошибка получения динамического контента.
  else
    p Сайт заведения имеет следующее количество записей:

    ul
      li #[strong Количество блюд в меню:] !{data.menu_count}